@page "/"
@inject ILogger<Index> _logger

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    protected override async Task OnInitializedAsync()
    {
        _logger.LogInformation("Prova");
        if (File.Exists(Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "logs", "TestOwn.log")))
        {
            _logger.LogInformation("File Esiste");
            string logContent = File.ReadAllText(Path.Combine(AppDomain.CurrentDomain.BaseDirectory, "logs", "TestOwn.log"));
            Console.WriteLine(logContent);
        }
        else
            _logger.LogError("File non esiste");
    }

    }